body {
    margin: 0;
    padding:0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header {
    background-color: #ACC3FE;
    color: #456AC8;
    text-align: center;
}


header > nav > ul.nav {
    padding-left: 0px;
    background-color: #B6E5F3;;
    text-align: center;
}
header > nav >ul.nav > li {
    display: inline-block;
    padding: 10px 20px;
}

header > nav >ul.nav > li:hover {
    background-color: #fafafa;
    opacity: 0.6;
}

header > nav >ul.nav > li > a {
    color: #456AC8;
    text-decoration: none;
}

footer {
    background-color: #ACC3FE;
    color: #456AC8;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}