body {
    margin: 0px;
    padding: 20px;
    font-family: "karla";
}

header {
    /* background-color: #ACC3FE; */
    font-family: 'Bungee Shade', cursive;
    background-image: url(/static/img/header_image.jpg);
    background-repeat: no-repeat;
    color: #456AC8;
    font-size: large;
    text-align: center;
    padding: 10px;
}


header > nav > ul.nav {
    padding-left: 0px;
    background-color: #B6E5F3;;
    font-family: "karla";
    text-align: center;
}
header > nav >ul.nav > li {
    display: inline-block;
    padding: 10px 20px;
}

header > nav >ul.nav > li:hover {
    background-color: #fafafa;
    opacity: 0.6;
}

header > nav >ul.nav > li > a {
    color: #456AC8;
    text-decoration: none;
}

form {
    margin: 10px;
}


#frontpage {
    display: inline-flex;
    padding: 20px;
}

#front_page_text {
    margin: 30px
}

#product_list {
    border: 3px solid #ACC3FE;
    background-color: #d6e0fa;
    border-radius: 30px;
    width: 300px;
    padding: 10px;
    display: inline-block;
    line-height: 18px;
    margin: 10px;

}

#titles {
    text-align: center;
    text-decoration: underline;
}

#looped_list {
    list-style-type: none;
}

#update_product{
    border: 3px solid #ACC3FE;
    background-color: #d6e0fa;
    border-radius: 30px;
    width: 300px;
    padding: 10px;
    display: inline-block;
    overflow: hidden;
    line-height: 18px;
    margin: 10px;
}