{% extends "base.html" %}

{% block content %}

<h1>Pick a product to update</h1>

{% for product in products %}
<div id = "product_list">
    <div id = "titles"><h4>{{ product.product_series.manufacturer.name }}: {{ product.product_series.name }} ({{ product.product_series.skill_level }})</h4></div>

<div>
    <ul id = "looped_list">
        <li>Colour: {{ product.colour }}</li>
        <li>Wood: {{ product.wood }}</li>
        <li>No. in stock: {{ product.in_stock }}</li>
        <li>Puchase Cost: £{{ product.purchase_cost }}</li>
        <li>Selling Price: £{{ product.selling_price }}</li>
        <a href="/edit/{{product.id}}/update">Update</a>
    </ul>
</div>
</div>

{% endfor %}

{% endblock %}