{% extends "base.html" %}

{% block content %}


<form action="/edit/update/{{product.id}}" method="post">
    
    <div>
        <label for="product_series">Product Series:</label>
        <input type="text" name ="product_series_id" value = {{product.product_series.id}}>
    </div>
    <div>
        <label for="colour">Colour:</label>
        <input type="text" name ="colour" value = {{product.colour}} autofocus>
    </div>
    <div>
        <label for="wood">Wood:</label>
        <input type="text" name ="wood" value = "{{ product.wood }}"> 
    </div>
    <div>
        <label for="in_stock">In Stock:</label>
        <input type="number" name ="in_stock" value = "{{ product.in_stock }}">
    </div>
    <div>
        <label for="purchase_cost">Purchase Cost:</label>
        <input type="number" name ="purchase_cost" value = "{{ product.purchase_cost}}">
    </div>
    <div>
        <label for="selling_price">Selling Price:</label>
        <input type="number" name ="selling_price" value = "{{ product.selling_price}}">
    </div>

    <button type="submit">Update Product</button>

    </form>

{% endblock %}