{% extends "base.html" %}

{% block content %}

<!-- 
<form action="/edit/update" method="post">
    <div>
        <label for="product_series">Series:</label>
        <select name="product_series" id="product_series">
        {% for product_series in all_product_series %}
        <option  value="{{product_series.id}}">{{product_series.name}}</option>   
        {% endfor %}
       </select>
    </div>
    <div>
        <label for="colour">Colour:</label>
        <input type="text" name ="colour">
    </div>
    <div>
        <label for="wood">Wood:</label>
        <input type="text" name ="wood">
    </div>
    <div>
        <label for="in_stock">In Stock:</label>
        <input type="number" name ="in_stock">
    </div>
    <div>
        <label for="purchase_cost">Purchase Cost:</label>
        <input type="number" name ="product_series">
    </div>
    <div>
        <label for="selling_price">Selling Price:</label>
        <input type="number" name ="selling_price">
    </div>

    <button type="submit">Update Product</button>

    </form> -->

{% endblock %}