{% extends "base.html" %}

{% block content %}

<h1>Pick a product to update</h1>

{% for product in products %}
<h4>{{ product.product_series.manufacturer.name }}: {{ product.product_series.name }}</h4>

<div>
    <ul>
        <li>Colour: {{ product.colour }}</li>
        <li>Wood: {{ product.wood }}</li>
        <li>No. in stock: {{ product.in_stock }}</li>
        <li>Puchase Cost: £{{ product.purchase_cost }}</li>
        <li>Selling Price: £{{ product.selling_price }}</li>
        <a href="/edit/{{product.id}}">Update</a>
    </ul>
</div>

{% endfor %}

{% endblock %}