{% extends "base.html" %}

{% block content %}

<form action="/edit/add_product" method="post">
    <div>
        <label for="manufacturer">Manufacturer:</label>
        <select name="manufacturer" id="manufacturer">
            {% for manufacturer in manufacturers %}
        <option  value="{{ manufacturer.id }}">{{ manufacturer.name }}</option>   
        {% endfor %}
       </select>
    </div>
    <div>
        <label for="colour">Colour:</label>
        <input type="text" name ="colour">
    </div>
    <div>
        <label for="wood">Wood:</label>
        <input type="text" name ="wood">
    </div>
    <div>
        <label for="in_stock">In Stock:</label>
        <input type="number" name ="in_stock">
    </div>
    <div>
        <label for="purchase_cost">Purchase Cost:</label>
        <input type="number" name ="purchase_cost">
    </div>
    <div>
        <label for="selling_price">Selling Price:</label>
        <input type="number" name ="selling_price">
    </div>

    <button type="submit">Add Product</button>

    </form>

{% endblock %}