{% extends "base.html" %}

{% block content %}

<div id = "product_container">
    <div id = "add_product">

<form action="/edit/add_product_series" method="post">
    <div>
        <label for="manufacturer">Manufacturer:</label>
        <select name="manufacturer_id" id="manufacturer">
            {% for manufacturer in all_manufacturers %}
        <option  value="{{ manufacturer.id }}">{{ manufacturer.name }}</option>   
        {% endfor %}
       </select>
    </div>
    <br>
    <div>
        <label for="name">Name:</label>
        <input type="name" name ="name">
    </div>
    <br>
    <div>
        <label for="skill_level">Skill Level:</label>
        <input type="skill_level" name ="skill_level">
    </div>
    <br>

    <button type="submit">Add Product Series</button>

    </form>

</div>
</div>

{% endblock %}