{% extends "base.html" %}

{% block content %}

<form action="/edit/add_product" method="post">
    <div>
        <label for="product_series">Product Series:</label>
        <select name="product_series_id" id="product_series">
            {% for product_series in all_product_series %}
        <option  value="{{ product_series.id }}">{{ product_series.name }}</option>   
        {% endfor %}
       </select>
    </div>
    <br>
    <div>
        <label for="colour">Colour:</label>
        <input type="text" name ="colour">
    </div>
    <br>
    <div>
        <label for="wood">Wood:</label>
        <input type="text" name ="wood">
    </div>
    <br>
    <div>
        <label for="in_stock">In Stock:</label>
        <input type="number" name ="in_stock">
    </div>
    <br>
    <div>
        <label for="purchase_cost">Purchase Cost: £</label>
        <input type="number" name ="purchase_cost">
    </div>
    <br>
    <div>
        <label for="selling_price">Selling Price: £</label>
        <input type="number" name ="selling_price">
    </div>
    <br>

    <button type="submit">Add Product</button>

    </form>

{% endblock %}