{% extends "base.html" %}

{% block content %}

<div>
<h1>All Inventory</h1>
<hr>
</div>

{% for product in products %}
<div id = "product_list">
<h4>{{ product.product_series.manufacturer.name }}: {{ product.product_series.name }}</h4>

    <ul>
        <li>Colour: {{ product.colour }}</li>
        <li>Wood: {{ product.wood }}</li>
        <li>No. in stock: {{ product.in_stock }}</li>
        <li>Puchase Cost: £{{ product.purchase_cost }}</li>
        <li>Selling Price: £{{ product.selling_price }}</li>
    </ul>
</div>
</div>

{% endfor %}
{% endblock %}