<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Karla&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title> Edinburgh Drum Store </title>
</head>
<body>
    <header>
        <!-- <h1> Edinburgh Drum Store </h1> -->
        <div id = "img_div"><img src="/static/img/logo.png" alt="logo" class = "responsive" width = 600px></div>
        <nav> 
            <ul class = "nav">
                <li><a href="/">Home</a></li>
                <li><a href="/inventory">Inventory</a></li>
                <li><a href="/edit">Edit</a></li>
            </ul>
        </nav>
    </header>
    {% block content %}

    {% endblock %}
</body>
<footer> 
    <p>© Edinburgh Drum Store 2021</p>
</footer>
</html>