{% extends "base.html" %}

{% block content %}

<div id = "frontpage">
<section id = "front_page_text">
    <h2>Black Friday Discount - reminder!</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus numquam soluta in omnis fuga nulla ratione magni cumque molestiae, ex, accusantium maxime officiis architecto eaque reiciendis facilis voluptates vel aperiam.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa quod dolor nulla molestiae temporibus laborum reprehenderit magnam suscipit explicabo sapiente. Distinctio rerum voluptatem blanditiis nemo dolore itaque nihil quae eos!</p>
</section>

<div id = "front_page_image">
<img src="https://cdn.shopify.com/s/files/1/1422/9358/products/LUDWIG-CLASSIC-3-PIECE-DRUM-KIT-1976-BLUE-OYSTER-DRUMAZON_01_1000x.jpg?v=1582991686" alt="best seller" width = 700px>
</div>
</div>
{% endblock %}