{% extends "base.html" %}

{% block content %}

<div id = "frontpage">
<section id = "front_page_text">
    <h2>Black Friday Discount - reminder!</h2>
    <p>Our 2021 Black Friday discount is 5% off the Ludwig Classic Blue Oyster kit, which takes it down to only £2565 - an amazing deal on an iconic drum kit! </p>
    <p>The Ludwig Classic series has been the professional choice for over 20 years. Its full tonality, rich sustain, and exceptional versatility has made these drums the premier choice for any performance application. Utilizing a process refined through over a century of drum making, Classic Maple drums preserve the signature Ludwig sound with optimal performance. Hand-crafted at Ludwig USA in Monroe, NC.</p>
</section>

<div id = "front_page_image">
    <img src="/static/img/Drum kit.jpeg" alt="black_friday_deal" width = 650px id = "black_friday_deal">
</div>
</div>
{% endblock %}