{% extends "base.html" %}

{% block content %}

<div>
<h1>Current Inventory</h1>
<form action="inventory/all">
    <button>Show out of stock</button>
</form>
<hr>
</div>



{% for product in products %}
{% if product.in_stock > 0 %}
<div id = "product_list">
<h4>{{ product.product_series.manufacturer.name }}: {{ product.product_series.name }}</h4>

    <ul>
        <li>Colour: {{ product.colour }}</li>
        <li>Wood: {{ product.wood }}</li>
        {% if product.in_stock  <= 3%}
        <li style = "color: orange; font-weight: bold">No. in stock: {{ product.in_stock }} (Low Stock) <img src="https://emojipedia-us.s3.amazonaws.com/source/skype/289/warning_26a0-fe0f.png" alt="warning" width = 15px></li>
        {% else %}
        <li> No. in stock: {{ product.in_stock }}</li>
        {% endif %}
        <li>Puchase Cost: £{{ product.purchase_cost }}</li>
        <li>Selling Price: £{{ product.selling_price }}</li>
    </ul>

{% endif %}
</div>  
{% endfor %}
{% endblock %}